<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fitness App</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css">

</head>

<body>
    <header>
        <h2>Welcome to our Fitness App {{USER}}</h2>
    </header>
    <section class="hero">
        <div class="hero-content">
            <h2>Achieve Your Fitness Goals</h2>
            <p>Start your fitness journey today with our progress tracking tools.</p>
        </div>
    </section>
  
</body>